body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to right, #6a11cb, #2575fc);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 15px;
  width: 350px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.input-section {
  display: flex;
  justify-content: space-between;
}

#taskInput {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 10px;
  outline: none;
}

#addBtn {
  padding: 10px 15px;
  border: none;
  background: #00ffae;
  color: black;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 10px;
}

#addBtn:hover {
  background: #00e69f;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

li {
  background: rgba(255,255,255,0.2);
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}
